#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  font-size:30px;
}

input{
  height: 40px;
  font-size: 30px;
  margin: 5px;
}

input[type=submit]{
  width: 100px;
}

